<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppearenceCharacterCodes</key>
	<string>0,1,2</string>
	<key>BackGroundObjects</key>
	<array>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>Background_Sky.jpg</string>
			<key>Name</key>
			<string>Sky</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>0</integer>
			<key>PositionY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>AnchorPointX</key>
			<real>0.5</real>
			<key>AnchorPointY</key>
			<real>0.5</real>
			<key>Class</key>
			<string>Sun</string>
			<key>initFile</key>
			<string>0</string>
			<key>Name</key>
			<string>Sun</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>240</integer>
			<key>PositionY</key>
			<integer>270</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CloudEngine</string>
			<key>initFile</key>
			<string></string>
			<key>Name</key>
			<string>CloudEngine</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>0</integer>
			<key>PositionY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>Background_forest.png</string>
			<key>Name</key>
			<string>forest</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>0</integer>
			<key>PositionY</key>
			<integer>78</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>BeginCreatePeroid</key>
	<real>1.5</real>
	<key>BeginHint</key>
	<integer>3</integer>
	<key>BeginLife</key>
	<integer>3</integer>
	<key>BeginStepSpeed</key>
	<integer>100</integer>
	<key>BehindFieldWay</key>
	<array>
		<integer>5</integer>
		<string>33,63,46,82,70,96,128,115,164,130</string>
	</array>
	<key>BGM</key>
	<string>siba.mp3</string>
	<key>ClearObjectsWithCode</key>
	<array>
		<string>CharCount:20 Clear:score_x_1.2 Overclear:score_x_1.6</string>
		<string>totalRecordCombo:35 Clear:score_x_1.3 Overclear:score_x_1.7</string>
		<string>recordPlayTime:360 Clear:score_x_1.3 Overclear:score_+_15000</string>
		<string>recordScore:5000 Clear:score_x_1.3 Overclear:score_+_5000</string>
		<string>comboChainXxY:5/3 Clear:score_x_2.0 Overclear:score_x_3</string>
		<string>HighComboRecord:25 Clear:score_x_1.5 Overclear:score_x_1.7</string>
	</array>
	<key>CreatePattens</key>
	<string>999999</string>
	<key>ExpJumpValue</key>
	<string>999999</string>
	<key>FieldWay</key>
	<array>
		<integer>11</integer>
		<string>33,63,1,46,82,1,70,96,1,128,115,1,164,130,1,170,119,1,193,105,1,245,84,1,282,61,1,323,34,1,368,17,1</string>
	</array>
	<key>FinalRelayStartingComboPoint</key>
	<integer>5</integer>
	<key>ForeGroundObjects</key>
	<array>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>Background_hill.png</string>
			<key>Name</key>
			<string>hill</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>0</integer>
			<key>PositionY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>Background_reverside.png</string>
			<key>Name</key>
			<string>reverside</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>0</integer>
			<key>PositionY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<real>67.09999999999999</real>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<integer>0</integer>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>Object_stone.png</string>
			<key>Name</key>
			<string>stone</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>346</integer>
			<key>PositionY</key>
			<integer>47</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>AnchorPointX</key>
			<real>0.5</real>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>WindMill</string>
			<key>initFile</key>
			<string></string>
			<key>Name</key>
			<string>WindMill</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>340</integer>
			<key>PositionY</key>
			<integer>150</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>130</integer>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>AnchorPointX</key>
			<real>0.5</real>
			<key>AnchorPointY</key>
			<integer>0</integer>
			<key>Class</key>
			<string>WindMill</string>
			<key>initFile</key>
			<string></string>
			<key>Name</key>
			<string>WindMill2</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>80</integer>
			<key>PositionY</key>
			<integer>100</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>AnchorPointX</key>
			<real>0.5</real>
			<key>AnchorPointY</key>
			<real>0.5</real>
			<key>Class</key>
			<string>CCSprite</string>
			<key>initFile</key>
			<string>door.png</string>
			<key>Name</key>
			<string>door</string>
			<key>Opacity</key>
			<integer>255</integer>
			<key>PositionX</key>
			<integer>368</integer>
			<key>PositionY</key>
			<integer>17</integer>
			<key>Scale</key>
			<integer>1</integer>
			<key>ZdistanceBengintoEnd</key>
			<integer>68</integer>
		</dict>
	</array>
	<key>FrontFieldWay</key>
	<array>
		<string>7</string>
		<string>164,130,150,119,193,105,245,84,282,61,323,34,368,17</string>
	</array>
	<key>MaxFinalRelayComboPoint</key>
	<integer>50</integer>
	<key>MaxLevel_CreatePeroid</key>
	<integer>9999999999</integer>
	<key>MaxLevel_StepSpeed</key>
	<integer>999999999</integer>
	<key>PrevStep</key>
	<string>One</string>
	<key>ScoreJumpValue</key>
	<string>99999999</string>
	<key>StageLevelMaxExpTable</key>
	<array>
		<integer>2000</integer>
		<string>5000</string>
		<string>9999</string>
		<string>16990</string>
		<string>25000</string>
	</array>
	<key>StageMaxLevel</key>
	<integer>10</integer>
	<key>StanbyCounting</key>
	<integer>5</integer>
</dict>
</plist>
